{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["react-app", "prettier", "plugin:react-hooks/recommended"],
  "plugins": ["react", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": false,
        "trailingComma": "none",
        "endOfLine": "lf",
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 80,
        "useTabs": false
      }
    ],
    "no-console": "warn",
    "import/no-anonymous-default-export": [
      "warn",
      {
        "allowObject": true
      }
    ]
  }
}
